# Local build outputs
/recipes/e3sm-unified/outputs/

**/__pycache__

# pixi
.pixi/
!.pixi/
!.pixi/config.toml
pixi.lock
pixi-env/

# vs code
.vscode/
.codex

# mypy
.mypy_cache/

# ruff
.ruff_cache/

# mache
.mache_cache/

# load scripts
load_*.sh
