# Options related to deploying a e3sm-unified conda environment on supported
# machines
[deploy]

# is this a shared production environment?
release = False

# Recreate the environment if it already exists?
recreate = False

# a suffix on the environment name
suffix =

# the python version
python = 3.8

# the MPI version (nompi, mpich or openmpi)
mpi = nompi

# the version of ESMF to build if using system compilers and MPI
esmf = 8.1.1

# the version of mpi4py to build if using system compilers
mpi4py = 3.0.3

# the version of TempestExtremes to build if using system compilers and MPI
tempest_extremes = 2.2

# the version of ILAMB to build if using system compilers and MPI
ilamb = 2.6
