# pins for the pixi environment
[pixi]
bootstrap_python = 3.13
python = 3.13
mache = 3.6.0

# pins for the spack environment
[spack]
esmf = 8.9.1
hdf5 = 1.14.6
moab = 5.6.0
nco = 5.3.9
netcdf_c = 4.10.0
netcdf_fortran = 4.6.2
parallel_netcdf = 1.14.1
tempest_extremes = 2.4.2
tempest_remap = 2.2.0

# pins for hpc post-install steps
[hpc]
ilamb = 2.7.2
mpi4py = 4.1.1
esmpy = None
xesmf = None
